<phpunit bootstrap="simple/autoloader.php">
    <filter>
        <whitelist>
            <directory suffix=".php">./simple</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="FunctionTest">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>